.todoPage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: whitesmoke;
  font-family: sans-serif;
  width: 96%;
  height: 80%;
  margin: 0% 2%;
}

h1,
h2 {
  text-align: center;
}

h1 {
  width: 100%;
}

input {
  margin: 10px;
  align-self: center;
}

.inputItems,
#inputTitle {
  border: 0px;
  border-bottom: 1px solid black;
  text-align: center;
  outline: transparent;
}

#inputTitle {
  width: 60%;
}

.inputItems {
  width: 94%;
  margin: 3%;
}

.todo {
  margin: 2px;
  padding: 4px;
  border: 1px solid black;
  border-radius: 8px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1px solid black;
}

.task {
  display: flex;
  justify-content: space-between;
}

#todoItems {
  width: 100%;
  height: 60%;
  border: 1px solid black;
  border-radius: 5px;
  overflow: scroll;
}

#form,
#todos {
  width: 90%;
  border-radius: 8px;
  background-color: white;
  margin: 5px;
  padding: 2%;
}

#form {
  height: 30%;
  padding: 10% 2%;
}

#todos {
  height: 75%;
  overflow: scroll;
}

.createTodo,
.todoList {
  height: 96%;
  padding: 1% 2%;
}

.createTodo {
  width: 30%;
}

.todoList {
  width: 60%;
  word-wrap: break-word;
  word-break: break-all;
}

.unDone,
.done {
  cursor: pointer;
  border-radius: 3px;
}

.done {
  background-color: rgb(97, 189, 6);
  color: white;
}

img {
  cursor: pointer;
}

.taskButtons {
  display: flex;
  justify-content: space-between;
  margin: 0 20%;
}

.buttons,
.delete {
  background-color: skyblue;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 2%;
}

.delete {
  width: 100%;
}

.buttons {
  width: 20%;
}

.inputTasks {
  width: 60%;
  border: 0px;
  border-bottom: 1px solid black;
  text-align: center;
  outline: transparent;
}

.addButton {
  cursor: pointer;
}
