h1 {
  text-align: center;
}

input {
  margin: 10px;
}

form {
  margin: 10%;
  align-self: center;
  background-color: whitesmoke;
  width: 500px;
  padding: 10px;
}

.active {
  display: block;
}

.inActive {
  display: none;
}

.form {
  align-self: center;
  margin: 5%;
}
