h1 {
  text-align: center;
}

input {
  margin: 10px;
}

form {
  margin: 10%;
  align-self: center;
  background-color: whitesmoke;
  width: 500px;
  padding: 10px;
}

.active {
  display: block;
}

.inActive {
  display: none;
}

.form {
  align-self: center;
  margin: 5%;
  background-color: white;
}
.todolist {
  margin: 2px;
  padding: 4px;
  background-color: whitesmoke;
  border: 1px solid black;
}

.header {
  display: flex;
  justify-content: space-between;
}
