<html>
  <head>
    <title>todo</title>
    <link rel="stylesheet" href="css/todo.css" />
    <script src="js/home.js"></script>
  </head>
  <body onload="loadTodos()">
    <h1>TODO</h1>
    <div class="todoPage">
      <div class="createTodo">
        <h2>Create your Todo</h2>
        <div id="form">
          <input
            type="text"
            name="title"
            placeholder="Enter Title"
            id="inputTitle"
            autocomplete="off"
            required
          />
          <input
            class="buttons"
            type="submit"
            value="Create"
            onclick="createTodo()"
          />
        </div>
      </div>
      <div class="todoList">
        <div style="display: flex;flex-wrap: wrap;">
        <h2>Todo List</h2>
        <div id="popUp" >
          <div class="popupdiv" id="myPopup">
          <span>Do you want to delete?<span>
            <input class="popUpBtn" type="button" value="delete" onclick="performDelete()" />
            <input class="popUpBtn" type="button" value="cancel" onclick="closePopUp()" />
        </div>
      </div>
      </div>
        <div id="todos">
        </div>
      </div>
    </div>
  </body>
</html>
