<html>
  <head>
    <title>todo</title>
    <link rel="stylesheet" href="css/todo.css" />
    <script src="js/home.js"></script>
  </head>
  <body onload="loadTodos()">
    <h1>TODO</h1>
    <div class="todoPage">
      <div class="createTodo">
        <h2>Create your Todo</h2>
        <div id="form">
          <input
            type="text"
            name="title"
            placeholder="Enter Todo Title"
            id="inputTitle"
            autocomplete="off"
            required
          />
          <input
            class="buttons"
            type="submit"
            value="Create"
            onclick="createTodo()"
          />
        </div>
      </div>
      <div class="todoList">
        <input
          type="search"
          id="searchBar"
          oninput="searchItem()"
          placeholder="search"
        />
        <select id="searchedItem">
          <option value="title">Title</option>
          <option value="task">Task</option>
        </select>
        <div id="todos"></div>
      </div>
    </div>
  </body>
</html>
