<html>
  <head>
    <title>todo</title>
    <link rel="stylesheet" href="css/todo.css" />
    <script src="js/home.js"></script>
  </head>
  <body>
    <h1>TODO</h1>
    <div class="form">
      <form action="saveTodo" method="POST">
        <div class="active">
          Tilte :<input type="text" name="title" required /> <br />
          <input type="button" value="create" onclick="changeAction()" />
        </div>

        <div class="inActive">
          Items<br />
          <div id="todoItems">
            <textarea name="todoItem" rows="3" cols="40" required></textarea>
          </div>
          <input type="button" value="add" onclick="addItem()" />
          <input type="button" value="delete item" onclick="deleteItem()" />
          <br />
          <input type="submit" name="done" value="done" />
          <input type="submit" name="cancel" value="cancel" />
        </div>
      </form>
    </div>
    __todos__
  </body>
</html>
